body{
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*Style the navigation and header here*/
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    /*gap: 16px;*/
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    padding: 1rem;
}

li a{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}

.nav-item:first-child{
    display: flex;
    margin-right: auto;
    margin-left: 3rem;
    font-size: 18px;
}


footer{
    margin-top: auto;
}