body{
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #1F2937;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header, .container-body, .container-quote, .footer{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

/*!* Start Navigation Here *!*/
ul{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0;
    margin: 0;
    gap: 16px;
}

li{
    list-style: none;
    padding: 16px;
}

li a{
    text-decoration: none;
    color: white;
}

.nav-item:first-child{
    display: flex;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
}
/*!*!* End Navigation Here *!*!*/


/*!*!* Start Header Here *!*!*/
.header-container{
    display: flex;
    flex-direction: row;
}

.header-content{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding: 16px;

}

.header-logo{
    font-size: 48px;
    font-weight: bold;
}

.image-placeholder{
    width: 500px;
    height: auto;
    background-color: darkgray;
    border: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
/*!* End Header Here *!*/

/*!*Main content here*!*/

.container-body{
    display: flex;
    background-color: #F9FAF8;
    color: #1F2937;
    height: auto;
}

.container-title{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding: 16px;
}

.container-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 52px;
}

.place-holder-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-holder-text{
    margin-top: 4px;
    text-align: center;
}

.place-holder-content{
    border-style: solid;
    border-color: #3882F6;
    width: 100px;
    height: 100px;
}
/*!*End of content here*!*/

/*Quote stats here*/

.container-quote{
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
}

.quote-author{
    font-weight: bold;
    text-align: right;
}

/*End of quote here*/

button{
    width: 70px;
    height: 30px;
    background-color: #3882F6;
    color:#F9FAF8;
    margin-top: 5px;
    border-radius: 6px;
}

footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}